@using System.Configuration
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BSKY:: Dashboard</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/icon.css" />
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        ServiceURL = "@ConfigurationManager.AppSettings["ServiceURL"]";
    </script>
</head>
<body>
    <!-- Code for header part -->
    <div class="pos-f-t">
        <nav class="navbar">
            <div class="container-fluid pr-0">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <ul class="header-logo">
                            <li>
                                <img src="imgs/hpsbys-logo.png" alt="">
                                <div>
                                    <h2>Himachal Pradesh Swasthya Bima Yojna Society</h2>
                                    <p>Department of Health & Family Welfare<br />Government of Himachal Pradesh</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-7 text-right action-area">
                        <ul class="nav header-menu justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="view-hospital-info.html">Masters</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">In-Patient</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="registration.html">Registration</a>
                                    <a class="dropdown-item" href="@Url.Action("PreAuthorizationDetails", "PreAuthorization")">Critical Care Request</a>
                                    <a class="dropdown-item" href="@Url.Action("ViewExtensionOfStay", "ExtensionOfStay")">Package Extention</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">IP Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tools</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">

        </div>
    </div>
    <!-- Header code Ends here -->
    <!-- Code for breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard.html"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <!-- End here -->
    <!-- Dashboard Body content part starts -->
    <div class="container">
     @RenderBody()
    </div>
    <!-- Body content Ends here -->
</body>

</html>
