
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>NoDirectAccess</title>
    </head>
    <body>
        <div>
            <h2>
                No Direct Access
            </h2>
        </div>
        <p>
            Click here to <a href="../Dashboard/Login">Users</a>
        </p>
    </body>
    </html>*@

<html lang="id" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 403  Error </title>
    <link rel="icon" type="image/png" href="~/imgs/favicon.png" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <style>

        .error-section {
            margin: 0px auto;
            text-align: center;
            position: relative;
            padding: 1rem;
        }

            .error-section img {
                max-width: 60%;
            }

        .error-section__content h1 {
            font-size: 2rem;
            color: #dc3545;
            padding: 0;
            font-weight: 600;
            margin: 12px 5px 12px;
        }


        @@media screen and (max-width: 768px) {

            .error-section img {
                width: 40%;
            }
        }
    </style>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center h-100 wow animated fadeInUp">
        <div class="error-section">
            <img src="~/imgs/403.png" alt="Not Found">
            <div class="error-section__content">
                <h1><span> 403 </span>  Error </h1>
                <p class="mb-0">Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br />Please go back to the previous page to continue browsing.</p>
                <p class="s_bigtxt">  Please, click and sign in again.</p>
                <div class="session-btn session_inner">
                    <div id="slide"></div>
                    <a href="@Url.Action("login","dashboard")"> Log In &nbsp; <i class="fa fa-sign-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
