@{
    ViewBag.Title = "AuthenticationDetails";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<style>
    .new-width.dataTable .fix-width1 {
        width: 80px !important;
    }

    .new-width.dataTable .fix-width {
        width: 130px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix"></div>

                    <!-- Family Verification info -->
                    <div class="form-box-bg mb-4">

                        <ul class="nav nav-tabs custom-tab mb-4">
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("AuthenticationDetails","IPReports")">View</a>
                            </li>
                        </ul>
                        <div class="col-md-12 p-0">
                            <div class="form-row">
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="mb-4">

                                        <label class="pkg-label mb-1">Authentication From Date :</label>
                                        <input type="text" id="fromdate" class="form-control datepicker" />
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="mb-4">
                                        <label class="pkg-label mb-1">Authentication To Date :</label>
                                        <input type="text" id="todate" class="form-control datepicker" />
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 d-flex justify-content-start align-items-center">
                                    <input class="btn btn-outline-success" type="button" value="Search" id="btnSearch">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mt-2">
                            <table id="example2" class="table table-striped new-width preauth-tbl" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="fix-width1" scope="col">SL NO</th>
                                        <th scope="col">PURPOSE</th>
                                        <th class="fix-width" scope="col">OTP</th>
                                        <th class="fix-width" scope="col">IRIS</th>
                                        <th class="fix-width" scope="col">POS</th>
                                        <th class="fix-width" scope="col">OVERRIDE</th>
                                        <th class="fix-width" scope="col">VIEW</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- new over ride deatails section -->
                            
                            <!-- new over ride deatails section -->
                        </div>
                        <!-- modal start -->
                        <div class="modal fade wow fadeInUp animated" id="popModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="row heading-pkg">
                                            <h5 class="mb-0">@Session["HospitalName"]</h5>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6 heading-pkg">
                                                <h5 id="popModalTitle" class="pkg-label mb-1"></h5>
                                            </div>
                                            <div class="col-6">
                                                <button id="btnExcel" type="button" class="btn btn-outline-success btn-sm float-right" data-toggle="tooltip" title="Export To Excel">
                                                    <i class="fa fa-file-excel-o"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-12">
                                                <table id="grdReportDetails" class="table table-stripped preauth-tbl" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="fix-width1" scope="col">SL No</th>
                                                            <th class="fix-width" scope="col">URN</th>
                                                            <th scope="col">MEMBER NAME</th>
                                                            <th class="fix-width" scope="col">MEMBER ID</th>
                                                            <th class="fix-width" scope="col">DATE & TIME</th>
                                                            <th class="fix-width" scope="col">PURPOSE</th>
                                                            <th class="fix-width" scope="col">VERIFICATION Type</th>
                                                            <th class="fix-width" scope="col">STATUS</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <table id="exlReportDetails"></table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/dtButtons.min.js"></script>
<script src="~/js/jszip.min.js"></script>
<script src="~/js/buttonsHtml5.min.js"></script>
<script src="~/js/table2excel.min.js"></script>

<script>
    $(document).ready(function () {
        $('#path').html('Report');
        $('#example2').DataTable({
            autoWidth: false,
        });
        var d = new Date();
        var currentDate = d.getDate();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);
        var endDate = new Date(currYear, currMonth, currentDate);
        $("#fromdate").val(moment(startDate).format("DD-MMM-YY"));
        $("#todate").val(moment(endDate).format("DD-MMM-YY"));
        var frmdate = $("#fromdate").val();
        var to_date = $("#todate").val();
        getData(frmdate, to_date);
    });

    $(function () {
        $(".datepicker").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            dateFormat: "dd-M-y",
            changeYear: true

        });
    });

    $("#btnSearch").click(function () {
        var fromDt = $("#fromdate").val();
        var toDt = $("#todate").val();
        var from = "";
        var to = "";
        if (fromDt != "")
            from = new Date($("#fromdate").val());
        if (toDt != "")
            to = new Date($("#todate").val());
        if (to != "" && from === "") {
            sweetAlert('Alert', 'Please Select From Date').then(() => {
                $('#fromdate').focus();
            });
        }
        else if (from != "" && to === "") {
            sweetAlert('Alert', 'Please Select To Date').then(() => {
                $('#todate').focus();
            });
        }
        else if (from > to) {
            sweetAlert('Alert', 'From date should not be greater than To date')
                .then(() => {
                    $('#fromdate').focus();
                });
        }
        else {
            getData(fromDt, toDt);
        }
    });

    function getData(frmdate, to_date) {
        var param = {
            Action: "S",
            HospitalCode: '@Session["HospitalCode"]',
            fromdate: frmdate,
            todate: to_date,
            groupid: "0",
            statecode: $('#ddState').val(),
            districtcode: $('#ddDistrict').val()
        };
        $.ajax({
            url: ServiceURL + "/api/Report/GetNewOverRideDetails",
            type: "POST",
            data: param,
            dataType: "json",
            success: function (resultBal) {
                console.log("GetNewOverRideDetails", resultBal);

                drawTable(resultBal);
            },
            error: function (error) {
                console.log(error.responseText);
            },
            complete: function () {
                $("#loader").hide();
            }
        });
    };

    function drawTable(resultBal) {
        var table = $('#example2').DataTable();
        table.destroy();
        $('#example2').dataTable({
            autoWidth: true,
            resposnive: true,
           // sDom: 'lrtip',//remove search textbox from datatable
            "aaData": resultBal,   //this is your JSON object, which is what is showing in your post above with console.log(data)
            "aoColumns": [
                {
                    "render": function (resultBal, type, full, meta) {
                        return meta.row + 1;
                    }
                },
                { "mDataProp": "purpose" },
                /*{ "mDataProp": "otp" },*/
                {
                    "mDataProp": "otp",
                    "render": function (resultBal, type, full, meta) {
                        return '<div class="badge badge-warning badge-font">' + resultBal + '</div>';
                    }
                },
                {
                    "mDataProp": "iris",
                    "render": function (resultBal, type, full, meta) {
                        return '<div class="badge badge-success badge-font">' + resultBal + '</div>';
                    }
                },
                {
                    "mDataProp": "pos",
                    "render": function (resultBal, type, full, meta) {
                        return '<div class="badge badge-primary badge-font">' + resultBal + '</div>';
                    }
                },
                {
                    "mDataProp": "override",
                    "render": function (resultBal, type, full, meta) {
                        return '<div class="badge badge-danger badge-font">' + resultBal + '</div>';
                    }
                },
                //{ "mDataProp": "iris"},
                //{ "mDataProp": "pos"},
                //{ "mDataProp": "override"},
                {
                    "mDataProp": "view", "render": function (resultBal, type, row) {
                        return '<span><button type = "button" tooltip = "View Details" data-toggle="Modal" onclick = "getnewoverrideview(this)" class="btn btn-outline-success focusedBtn btn-sm my-2 mr-2 my-sm-0"><i class="fa fa-eye"></i></button></span>'
                    }
                }
            ]
        });
    }

    function getnewoverrideview(ele)
        {
        var PurposeId = "";
        var dataRow = $('#example2').DataTable().row($(ele).closest('tr')).data();
        if (dataRow.purpose == "BLOCKING") {
            PurposeId = "0301";
        }
        if (dataRow.purpose == "UNBLOCKING") {
            PurposeId = "0302";
        }
        if (dataRow.purpose == "DISCHARGE") {
            PurposeId = "0303";
        }

        var fromDate = $("#fromdate").val();
        var toDate = $("#todate").val();



        $('#popModalTitle').html('Authentication View');

        $('#grdReportDetails').DataTable().clear().destroy();

        $('#grdReportDetails').empty();
        var param = {
            "Action": "A", "HospitalCode": '@Session["HospitalCode"]',
            "VARIFIEDTHROUGH": PurposeId, "from_date": fromDate, "to_date": toDate

        };
      /*  debugger;*/
       /* param = JSON.stringify(param);*/
        $.ajax({
            url: ServiceURL + "/api/Report/GetOverRideView",
            type: "GET",
            data: param,
            contentType: 'application/json',
            success: function (response) {

                console.log("GetOverRideView", response);
                $("#grdReportDetails").DataTable({

                    dom: 'Blfrtip',
                    buttons: [
                        {
                            extend: 'excel',
                               /* messageTop: 'Period: ' + $("#fromdate").val() + " To " + $("#todate").val(),*/
                            title: 'Authentication-Report',
                            exportOptions: { columns: 'th:not(.hiddenExport)' },
                            customizeData: function (data) {
                                for (var i = 0; i < data.body.length; i++) {
                                    for (var j = 0; j < data.body[i].length; j++) {
                                        data.body[i][j] = '\u200C' + data.body[i][j];
                                   }
                                }
                            }
                        },
                    ],
                    bLengthChange: true,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    bDestroy: true,
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,
                    columns: [
                        { type: "text", title: '<span style="width:5% !important;">Sl NO</span>', align: "center", render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; } },
                        { data: "urn", type: "text", title: '<span style="width:5% !important;">URN</span>', align: "left" },

                        {
                            data: null, type: "text", title: '<span style="width:15% !important;"><div class="prehed-bold">Member Details</div><div class="prehed-small"> ID | Name </div></span>',
                            align: "left",
                            className: "hiddenExport",
                            render: function (data, type, row, meta) {
                                return '<span><b class="text-success">' + row.memberid + '</b><div class="pre-bold">' + row.fullnameenglish + '</div></span>'
                                console.log('data', data);
                            }
                        },
                        /*{ data: "memberid", type: "text", title: "MEMBER ID", align: "left" },*/
                        ///*{ data: "urn", type: "text", title: "URN", align: "left" },*/
                        { data: "memberid", type: "text", title: "MEMBER ID", visible: false },
                         { data: "fullnameenglish", type: "text", title: "MEMBER NAME", visible: false },
                          { data: "createdon", type: "text", title: '<span style="width:15% !important;"><div class="prehed-bold">DATE & TIME</div></span>' , align: "left" },
                        { data: "purpose", type: "text", title: '<span style="width:15% !important;"><div class="prehed-bold">PURPOSE</div></span>', align: "left" },
                        {
                            data: "verificationMode", type: "text", title: '<span style="width:15% !important;"><div class="prehed-bold">VERIFICATION TYPE</div></span>' , align: "left" },
                        {
                            data: "approvestatus", type: "text", title: '<span style="width:15% !important;"><div class="prehed-bold">STATUS</div></span>', align: "left",
                            render: function (data, type, row, meta) {
                                if (row.approvestatus =="Verified")
                                    return '<div class="badge badge-success badge-font"> ' + row.approvestatus + ' </div>'
                                if (row.approvestatus == "Not Verified")
                                    return '<div class="badge badge-danger badge-font"> ' + row.approvestatus + ' </div>'
                                if (row.approvestatus == "Pending")
                                    return '<div class="badge badge-warning badge-font"> ' + row.approvestatus + ' </div>'
                                if (row.approvestatus == "Approved")
                                    return '<div class="badge badge-success badge-font"> ' + row.approvestatus + ' </div>'
                                if (row.approvestatus == "Rejected")
                                    return '<div class="badge badge-danger badge-font"> ' + row.approvestatus + ' </div>'
                                else
                                    return '<div class="badge badge-primary badge-font"> ' + row.approvestatus + ' </div>'

                            }
                        },

                    ]
                });


                $('.buttons-excel').hide(); // Hide default & download from custom button - btnExcel
                /*$('#popModal').modal('show');*/
                $('#btnExcel').off().click(() => {
                    $('#grdReportDetails').DataTable().buttons(0,0).trigger()
                });
            },
          error: function (error) {
                console.log(error.responseText);
            },
            //complete: function () {
            //    $("#loader").hide();
            //}

        });
        $('#popModal').modal('show')
    }



</script>
<script>
    // breadcrumb active & menu active
    $(document).ready(function () {
        loadNavigation('AuthenticationDetails', 'MtReports', 'pl', 'IPReports', 'Authentication Details', '');
    });
</script>
